/*	----------------------------------------------------------
	Footer
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.footer {
	background-color: $footer;
	position: relative;
	z-index: 1;
	.footer_bg {
		@include opacity(0.75);
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
		content : "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -5;		
	}
	.footer_widgets {
		@include transparent(lighten($black, 50), 0.1);
		padding: 3em 0;
		aside {
			h3 {
				font-family: $montserrat;
				font-size: 1.2em;
				color: $white;
				font-weight: 400;
				position: relative;
				margin-bottom: 2em;
				&:after {
					background: lighten($black, 40);
					height: 3px;
					width: 20%;
					content: " ";
					position: absolute;
					left: 0;
					bottom: -1em;
				}
			}
			ul {
				list-style-type: none;
				margin-left: 0;
			}
			li, a, p {
				color: $white;
				font-family: $lato;
				font-weight: 400;
			}
			a:hover {
				color: $color-active;
			}
			li {
				border-bottom : 1px solid rgba(darken($white, 50), .4);
				margin-bottom: 10px;
				padding-bottom: 10px;
				&:last-child {
					border-bottom: none;
				}
			}
			.post_meta {
				span {
					font-weight: 400;
					font-size: .85em;
					color: lighten($black, 80);
				}
				.date {
					&:after {
						content: " \2022";
					}
				}
			}
		}
		.gallery_slider{
			position: relative;
			.customNavigation {
				.navpositiongalextent {
					position: absolute;
					top: 0%;
					padding: 25% 5px 0 5px;
					font-size: 2em;
					color: lighten($black, 90);
					@include transparent($black, 0.3);
					height: 100%;
					&:hover {
						color: lighten($black, 70);
						@include transparent($black, 0.6);
					}
				}


				/*	----------------------------------------------------------
					Next Preview Buttons
				= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

				.btn {
					&.prev-gallery {
						@extend .navpositiongalextent;
						left: 0;
					}
					&.next-gallery {
						@extend .navpositiongalextent;
						right:0;
					}
				}
			}
		}
	}

	.footer_copyright {
		@include transparent($black, 0.3);
		padding: 3em 0 2em 0;
		color: lighten($black, 80);
		font-weight: 400;
		a{ 
			color: lighten($black, 85);
			&:hover {
				color: $color-active;
			}
		}
	}
}