/*	----------------------------------------------------------
	General
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

html {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: aliased;
}

body {
	font-family: $lato;
	-webkit-font-smoothing: antialiased;
}

// No padding
.nopadding {
	padding:0 !important;
}

.nopaddingr {
	padding-right:0 !important;
}

.nopaddingl {
	padding-left:0 !important;
}

.nopaddingt {
	padding-top:0 !important;
}

.nopaddingb {
	padding-bottom:0 !important;
}

.center-content {
	text-align: center;
}


/*	----------------------------------------------------------
	Index widget Content
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.widget-content {
	padding: 3em 0;
	border-bottom: 1px solid lighten($black, 90);
	h2 {
		font-family: $montserrat;
		position: relative;
		margin-bottom: 3em;
		display: inline-block;
		&:after {
			background: lighten($black, 90);
			height: 3px;
			width: 100%;
			content: " ";
			position: absolute;
			left: 0;
			bottom: -1.5em;
		}
	}
}


/*	----------------------------------------------------------
	Default btn
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.btn-default  {
	background-color: $color-active;
	text-transform: uppercase;
	color: darken($white, 5);
	font-family: $lato;
	padding: 11px 45px;
	@include border-radius(30px);
	&:hover, &:focus {
		background: lighten($color-active, 5%);
		color: darken($white, 5%);
	}
	&:active {
		background: desaturate($color-active, 10%);
		color: darken($white, 20%);
	}	
}


/*	----------------------------------------------------------
	Logo
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.logo #site-title {
	border: 4px solid $white;
	display: inline-block;
	font-family: $montserrat;
	font-weight: 700;
	text-transform: uppercase;
	color:$white;
	padding: .5em;
	font-size: 2em;
	letter-spacing: 8px;
}

.sub-logo #site-description {
	font-family: $montserrat;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: .7em;
	color:$white;
	margin-top: 2em;
}

.small-note {
    font-size: 0.8em;
    font-style: italic;
    margin: 0 0 1rem 0;
}
