$color-active: #f74819;
$white : #ffffff;
$black : #000000;
$teaser : #000000;
$footer : #000000;
$parallax : #000000;

$lato : 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$karma : 'Karma', serif;
$fa : 'FontAwesome';


/*	----------------------------------------------------------
	Include Web Fonts
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700); // font-family: 'Montserrat', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700); // font-family: 'Lato', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Karma:300); // font-family: 'Karma', serif;


