/*	----------------------------------------------------------
	Widget Schedule
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.schedule {
	ul {
		li {
			@include border-radius();
			.schedule-body{
				margin-top: 20px;
				-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.50);
				-moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.50);
				box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.50);
				.event-header {
					background: #fbfbfb;
					padding: 20px 10px;
				}
			}

			.day {
				font-family: $lato;
				font-weight: 700;
				text-transform: uppercase;
				color: lighten($black, 10);
				text-align: center;
			}
			.title {
				font-family: $lato;
				font-weight: 300;
				font-size: 1.5em;
				color: lighten($black, 10);
				text-align: center;
			}
			.content {
				font-family: $lato;
				color: lighten($black, 40);
				p {
					font-size: 1.025em;
					margin-right: 20px;
				}

				.accordion-navigation {
				    min-height: 175px;
				}

				.accordion .accordion-navigation>a {
					background: #fff;
					border-top: 1px solid #e6e6e6;

				  	&.highlight {
					  background: #fbfbfb;
					}
				}

				.accordion .accordion-navigation>a:hover, .accordion dd>a:hover {
					background: #fafafa;
					border-top: 1px solid #e6e6e6;
				}
				img {
					width: 60px;
					height: 60px;
					@include border-radius(60px);
				}
				.event-time {
					font-size: 14px;
					i {
						margin-right: 8px;
					}
				}
				.event-title {
					font-size: 20px;
					font-weight: 400;
					color: $color-active;
					font-weight: 300;
				}

			    .event-speaker {
                  font-size: 0.9em;
                  margin-top: 2px;

                  i {
                    margin-right: 8px;
                  }
                }

			}
		}
	}
}
