<div class="mini_header">
    <div class="mini_header_bg" data-stellar-background-ratio="0.2" style="background-image: url('/images/bg_banner.jpg');"></div>
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <!-- Site title -->
            <div class="logo">
                <h1 id="site-title">PHP day 2015</h1>
            </div>

            <!-- Site description -->
            <div class="sub-logo">
                <h2 id="site-description">{{ "site_description"|trans }}</h2>
            </div>
        </div>
    </div>
</div>
