<!-- Teaser -->
<div class="banner" id="home">
    <div class="banner_bg" data-stellar-background-ratio="0.2" style="background-image: url('images/bg_banner.jpg');"></div>
    <div class="row">
        <div class="colums small-12 medium-12-large-12">
            <div class="center-content">
                <!-- Site title -->
                <div class="logo">
                    <h1 id="site-title">PHP day 2015</h1>
                </div>

                <!-- Site Description -->
                <div class="sub-logo">
                    <h2 id="site-description">{{ "site_description"|trans }}</h2>
                </div>

                <!-- Event Info -->
                <div class="event-info">
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                        <li>
                            <i class="fa fa-map-marker "></i>Montevideo, Uruguay
                        </li>
                        <li>
                            <i class="fa fa-calendar"></i>25/07/2015
                        </li>
                        <li>
                            <i class="fa fa-microphone"></i>10+ Oradores
                        </li>
                        <li>
                            <i class="fa fa-ticket"></i>¡¡gratis!!
                        </li>
                    </ul>
                </div>

                <h1>{{ 'banner_motto'|trans }}</h1>

                <h2>{{ "banner_description"|trans|nl2br }}</h2>

                <!-- Social Links -->
                <div class="row">
                    <div class="large-6 small-centered columns">
                        <div class="event-social">
                            <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
                                <li>
                                    <a href="https://twitter.com/phpmvd">
                                        <i class="fa fa-twitter"></i>Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-facebook"></i>Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-google-plus"></i>Google+
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
