<div class="row">
    <h3>{{ "cfp.title"|trans }}</h3>

    <p>{{ 'cfp.description.header'|trans|nl2br }}</p>

    <!-- View all Speakers Button -->
    <div class="view-all-speakers">
        <a href="{{ path('cfp') }}" class="btn-default">{{ 'submit_talk'|trans }}</a>
    </div>

</div>
