<!-- Speakers -->
<div class="speakers widget-content" id="speakers">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="center-content">
                <h2>{{ "speakers"|trans }}</h2>

                <!-- View all Speakers Button -->
                <div class="view-all-speakers">
                    <a href="{{ path('cfp') }}" class="btn-default">{{ 'submit_talk'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
