<div class="footer">
    <div class="footer_bg" data-stellar-background-ratio="0.2" style="background-image: url('images/bg_buytikets.png');"></div>
    <div class="footer_widgets">
        <div class="row">
            <div class="columns small-12 medium-4 large-4">
                <!-- About us -->
                <aside id="Widget-text1" class="widget widget_text">
                    <h3>Sobre nosotros</h3>

                    <div class="textwidget">
                        <p>Somos el grupo de usaurios de PHP.</p>

                        <p>Queremos ayudar a la comunidad PHP a crecer y utilizar el lenguage de programación que amamos para hacer cosas increíbles.</p>
                    </div>
                </aside>
            </div>

            <!-- Popular posts -->
            <div class="columns small-12 medium-4 large-4">
                <aside id="populat-1" class="widget  widget_recent_entries">
                    <h3>Popular Blog Posts</h3>

                    <div class="">
                        <ul id="menu-1" class="menu">
                            <!-- First Post -->
                            <li>
                                <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing</a>

                                <div class="post_meta">
                                    <span class="date">28/03/2014</span>
                                    <span class="category">News & Announcements</span>
                                </div>
                            </li>

                            <!-- Second Post -->
                            <li>
                                <a href="">Vestibulum in augue a enim dictum fermentum.</a>

                                <div class="post_meta">
                                    <span class="date">26/03/2014</span>
                                    <span class="category">Sponsors</span>
                                </div>
                            </li>

                            <!-- Third post -->
                            <li>
                                <a href="">Morbi luctus enim sit amet odio pharetra, ac tincidunt eros dictum</a>

                                <div class="post_meta">
                                    <span class="date">28/03/2014</span>
                                    <span class="category">Schedule Updates</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>

            <!-- Gallery Widget -->
            <div class="columns small-12 medium-4 large-4">
                <aside id="gallery-1" class="widget widget_gallery">
                    <h3>Gallery</h3>

                    <div class="gallery_slider">
                        <div id="owl-gallery" class="owl-carousel owl-theme">
                            <!-- First Image -->
                            <div class="item">
                                <img src="images/gallery_01.jpg" width="600" height="240" alt="image">
                            </div>

                            <!-- Second Image -->
                            <div class="item">
                                <img src="images/gallery_02.jpg" width="600" height="240" alt="image">
                            </div>

                            <!-- Third Image -->
                            <div class="item">
                                <img src="images/gallery_03.jpg" width="600" height="240" alt="image">
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="customNavigation">
                            <a class="btn prev-gallery"><i class="fa fa-angle-left"></i></a>
                            <a class="btn next-gallery"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer_copyright">
        <div class="row">
            <div class="columns small-12 medium-5 large-5">
                <a href="mailto:info@phpday.uy">info@phpday.uy</a>
            </div>
            <div class="columns small-12 medium-7 large-7">
                <ul class="inline-list right">
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Commercial information</a></li>
                    <li><a href="">Privacy and Cookie Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
