<!-- Latest Posts -->
<div class="widget_latestposts_homepage widget-content" id="latestposts_homepage">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="center-content">
                <h2>Latest Posts</h2>
            </div>
            <div class="">
                <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                    <!-- First Post -->
                    <li>
                        <div class="featuredimg">
                            <a href="single-post.html">
                                <img src="images/thumb_blog_post_01.jpg" width="600" height="173" alt="avatar">
                            </a>
                        </div>
                        <div class="post_title">
                            <a href="single-post.html">Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.</a>
                        </div>
                        <div class="post_meta">
                            <span class="date">28/30/2014</span>
                            <span class="category">News & Announcements</span>
                        </div>
                        <div class="post_excerpt">
                            Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem...
                        </div>
                    </li>

                    <!-- Second Post -->
                    <li>
                        <div class="featuredimg">
                            <a href="single-post.html">
                                <img src="images/thumb_blog_post_02.jpg" width="600" height="173" alt="avatar">
                            </a>
                        </div>
                        <div class="post_title">
                            <a href="single-post.html">Ultrices nulla quis nibh. Quisque a lectus donec consectetuer.</a>
                        </div>
                        <div class="post_meta">
                            <span class="date">28/30/2014</span>
                            <span class="category">News & Announcements</span>
                        </div>
                        <div class="post_excerpt">
                            Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus integer sagittis vivamus...
                        </div>
                    </li>

                    <!-- Third Post -->
                    <li>
                        <div class="featuredimg">
                            <a href="single-post.html">
                                <img src="images/thumb_blog_post_03.jpg" width="600" height="173" alt="avatar">
                            </a>
                        </div>
                        <div class="post_title">
                            <a href="single-post.html">Sed egestas, ante et vulputate volutpat, eros pede semper est.</a>
                        </div>
                        <div class="post_meta">
                            <span class="date">28/30/2014</span>
                            <span class="category">News & Announcements</span>
                        </div>
                        <div class="post_excerpt">
                            Convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue. Integer eu magna...
                        </div>
                    </li>

                    <!-- Forth Post -->
                    <li>
                        <div class="featuredimg">
                            <a href="single-post.html">
                                <img src="images/thumb_blog_post_04.jpg" width="600" height="173" alt="avatar">
                            </a>
                        </div>
                        <div class="post_title">
                            <a href="single-post.html">Morbi interdum mollis sapien. Sed ac risus phasellus lacinia.</a>
                        </div>
                        <div class="post_meta">
                            <span class="date">28/30/2014</span>
                            <span class="category">News & Announcements</span>
                        </div>
                        <div class="post_excerpt">
                            Condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc...
                        </div>
                    </li>
                </ul>
            </div>
            <div class="visit-our-blog center-content">
                <a href="list-posts.html" class="btn-default">VISIT OUR BLOG</a>
            </div>
        </div>
    </div>
</div>
