<!-- Mailing List -->
<div class="mailinglist widget-content">
    <div class="mailinglist_bg" data-stellar-background-ratio="0.2" style="background-image: url('images/bg_mailinglist.jpg');"></div>
    <div class="row">
        <div class="columns small-12 medium-12 large-4 envelope">
            <div class="join"> Mantente Informado:</div>
        </div>
        <div class="columns small-12 medium-12 large-8">
            <form>
                <input type="text" name="" id="name" placeholder="Nombre">
                <input type="email" name="" id="email" placeholder="Email">
                <button class="btn-default">Quiero!</button>
            </form>
        </div>
    </div>
</div>
