<!-- Contact us / Map -->
<div class="maps" id="location">
    <div id="js-map"></div>
    <div class="map-location">
        <h2>{{ 'map.title'|trans }}</h2>
        <ul itemscope="" itemtype="http://schema.org/PostalAddress">
            <li class="title">{{ 'map.street_address'|trans }}</li>
            <li itemprop="address">Av. Rivera 3279, Montevideo, UY</li>
            <li class="title">{{ 'map.email_address'|trans }}</li>
            <li itemprop="email">info@phpday.uy</li>
{#
            <li class="title">Telephone Number</li>
            <li itemprop="telephone">(514) 000-0000</li>
#}
        </ul>
    </div>
</div>
<script type="text/javascript">var wplMap = {Lat : -34.899377, Long: -56.142004}, wplMarker = {Lat : -34.899377, Long: -56.132004}</script>
