<div class="main_menu navbar-fixed">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="mb">
                <div class="navmobile"><a href=""></a></div>
                <ul class="nav-menu">
                    <li class="menuItem"><a href="#home">Inicio</a></li>
                    <li class="menuItem"><a href="#speakers">Oradores</a></li>
                    <li class="menuItem"><a href="#schedule">Agenda</a></li>
                    <li class="menuItem"><a href="#partners">Apoyan</a></li>
                    <li class="menuItem"><a href="#location">Dónde</a></li>
                    <!-- <li class="menuItem"><a href="#pricing">Precio</a></li> -->
                    <li class="register"><a href="" data-reveal-id="RegisterModal">Registro</a></li>
                    <li class="language"><a href="#en">ENGLISH</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
