<div class="main_menu navbar-fixed">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="mb">
                <div class="navmobile"><a href=""></a></div>
                <ul class="nav-menu">
                    <li class="menuItem"><a href="#home">Home</a></li>
                    <li class="menuItem"><a href="#speakers">Speakers</a></li>
                    <li class="menuItem"><a href="#schedule">Schedule</a></li>
                    <li class="menuItem"><a href="#partners">Partners</a></li>
                    <li class="menuItem"><a href="#location">Location</a></li>
                    <li class="menuItem"><a href="#pricing">Pricing</a></li>
                    <li><a href="list-posts.html">Blog</a>
                        <ul class="sub-menu">
                            <li class="menuItem"><a href="speakers.html">Speakers</a></li>
                            <li class="menuItem"><a href="partners.html">Partners</a></li>
                            <li class="menuItem"><a href="single-post.html">Single Post</a></li>
                            <li class="menuItem"><a href="single-page.html">Single Page</a></li>
                            <li class="menuItem"><a href="html-elements.html">HTML Elements</a></li>
                        </ul>
                    </li>
                    <li class="register"><a href="" data-reveal-id="RegisterModal">Register</a></li>
                    <li class="language"><a href="#en">French</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
