<!-- Schedule -->
<div class="schedule widget-content" id="schedule">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="center-content">
                <h2>Agenda</h2>
            </div>
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                <!-- First day -->
                <li>
                    <div class="schedule-body">
                        <div class="event-header">
                            <div class="day">
                                SALA 1
                            </div>
                            <div class="title">
                                Planning & Prototyping
                            </div>
                        </div>
                        <div class="content">
                            <dl class="accordion" data-accordion>
                                <dd class="accordion-navigation">

                                    <a href="#panel1">
                                        <img class="large-2 right" src="images/avatar1.jpg" width="60" height="60" class="avatar" alt="avatar">

                                        <div class="event-time large-8"><i class="fa fa-clock-o"></i>08:00 - 08:30</div>
                                        <div class="event-title large-8">Introduction</div>
                                        <span class="clear"></span>
                                    </a>

                                    <div id="panel1" class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                                    </div>
                                </dd>
                                <dd class="accordion-navigation">
                                    <a href="#panel2">
                                        <img class="large-2 right" src="images/avatar2.jpg" width="60" height="60" class="avatar" alt="avatar">

                                        <div class="event-time large-8"><i class="fa fa-clock-o"></i>09:00 - 10:45</div>
                                        <div class="event-title large-8">Planning</div>
                                    </a>

                                    <div id="panel2" class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </dd>
                                <dd class="accordion-navigation">
                                    <a href="#panel3">
                                        <img class="large-2 right" src="images/avatar3.jpg" width="60" height="60" class="avatar" alt="avatar">

                                        <div class="event-time large-8"><i class="fa fa-clock-o"></i>13:00 - 14:30</div>
                                        <div class="event-title large-8">Prototyping</div>
                                    </a>

                                    <div id="panel3" class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </li>

                <!-- Second day -->
                <li>
                    <div class="schedule-body">
                        <div class="event-header">
                            <div class="day">
                                SALA 2
                            </div>
                            <div class="title">
                                Product Engineering
                            </div>
                        </div>
                        <div class="content">
                            <dl class="accordion" data-accordion>
                                <dd class="accordion-navigation">

                                    <a href="#panel4">
                                        <img class="large-2 right" src="images/avatar4.jpg" width="60" height="60" class="avatar" alt="avatar">

                                        <div class="event-time large-8"><i class="fa fa-clock-o"></i>08:00 - 08:30</div>
                                        <div class="event-title large-8">Welcome</div>
                                    </a>

                                    <div id="panel4" class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </dd>
                                <dd class="accordion-navigation">
                                    <a href="#panel5">
                                        <img class="large-2 right" src="images/avatar1.jpg" width="60" height="60" class="avatar" alt="avatar">

                                        <div class="event-time large-8"><i class="fa fa-clock-o"></i>09:00 - 10:45</div>
                                        <div class="event-title large-8">Introduction Engineering</div>
                                    </a>

                                    <div id="panel5" class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </dd>
                                <dd class="accordion-navigation">
                                    <a href="#panel6">
                                        <img class="large-2 right" src="images/avatar2.jpg" width="60" height="60" class="avatar" alt="avatar">

                                        <div class="event-time large-8"><i class="fa fa-clock-o"></i>13:00 - 14:30</div>
                                        <div class="event-title large-8">Product Management</div>
                                    </a>

                                    <div id="panel6" class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </li>

                <!-- Third day -->
                <li>
                    <div class="schedule-body">
                        <div class="event-header">
                            <div class="day">
                                SALA 3
                            </div>
                            <div class="title">
                                Sales & Marketing
                            </div>
                        </div>
                        <div class="content">
                            <dl class="accordion" data-accordion>
                                <dd class="accordion-navigation">
                                    <a href="#panel7">
                                        <img class="large-2 right" src="images/avatar3.jpg" width="60" height="60" class="avatar" alt="avatar">

                                        <div class="event-time large-8"><i class="fa fa-clock-o"></i>08:00 - 08:30</div>
                                        <div class="event-title large-8">Prepare your Product</div>
                                    </a>

                                    <div id="panel7" class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                                    </div>
                                </dd>
                                <dd class="accordion-navigation">
                                    <a href="#panel8">
                                        <img class="large-2 right" src="images/avatar4.jpg" width="60" height="60" class="avatar" alt="avatar">

                                        <div class="event-time large-8"><i class="fa fa-clock-o"></i>09:00 - 10:45</div>
                                        <div class="event-title large-8">Promote your product</div>
                                    </a>

                                    <div id="panel8" class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </dd>
                                <dd class="accordion-navigation">
                                    <a href="#panel9">
                                        <img class="large-2 right" src="images/avatar1.jpg" width="60" height="60" class="avatar" alt="avatar">

                                        <div class="event-time large-8"><i class="fa fa-clock-o"></i>13:00 - 14:30</div>
                                        <div class="event-title large-8">Sell your Product</div>
                                    </a>

                                    <div id="panel9" class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
