<!-- Speakers -->
<div class="speakers widget-content" id="speakers">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="center-content">
                <h2>{{ "speakers"|trans }}</h2>

                {% if section_bag.isSectionEnabled('cfp') %}
                    <div class="view-all-speakers">
                        <a href="speakers.html" class="btn-default">VIEW ALL SPEAKERS</a>
                    </div>
                {% else %}
                    <div class="">
                        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                            <!-- First Speacker -->
                            <li>
                                <div class="avatar">
                                    <img src="images/avatar1.jpg" width="220" height="220" alt="Avatar1">
                                    <!-- Speaker media links -->
                                    <div class="social">
                                        <!-- Speacker profile / blog url -->
                                        <a href="" target="_blank">
                                            <i class="fa fa-user"></i>
                                        </a>

                                        <!-- Speacker Twitter URL -->
                                        <a href="https://twitter.com/christauziet">
                                            <i class="fa fa-twitter"></i>
                                        </a>

                                        <!-- Speacker Facebook URL -->
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="name"><a href="" target="_blank">Christophe Tauziet</a></div>
                                <div class="company"><a href="http://tauziet.com" target="_blank">Facebook</a></div>
                            </li>

                            <!-- Second Speacker -->
                            <li>
                                <div class="avatar">
                                    <img src="images/avatar2.jpg" width="220" height="220" alt="Avatar1">
                                    <!-- Speaker media links -->
                                    <div class="social">
                                        <!-- Speacker profile / blog url -->
                                        <a href="" target="_blank">
                                            <i class="fa fa-user"></i>
                                        </a>

                                        <!-- Speacker Twitter URL -->
                                        <a href="https://twitter.com" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>

                                        <!-- Speacker Facebook URL -->
                                        <a href="https://www.facebook.com/victor.tihai" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="name"><a href="http://victor.tihai.ca" target="_blank">Victor Tihai</a>
                                </div>
                                <div class="company"><a href="http://bit.ly/14COeuj" target="_blank">WPlook Studio</a>
                                </div>
                            </li>

                            <!-- Third Speacker -->
                            <li>
                                <div class="avatar">
                                    <img src="images/avatar3.jpg" width="220" height="220" alt="Avatar1">
                                    <!-- Speaker media links -->
                                    <div class="social">
                                        <!-- Speacker profile / blog url -->
                                        <a href="" target="_blank">
                                            <i class="fa fa-user"></i>
                                        </a>

                                        <!-- Speacker Twitter URL -->
                                        <a href="https://twitter.com/garand" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>

                                        <!-- Speacker Facebook URL -->
                                        <a href="" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="name"><a href="" target="_blank">Anthony Garand</a></div>
                                <div class="company"><a href="http://gradientcreates.com" target="_blank">Garand</a>
                                </div>
                            </li>

                            <!-- Fourth Speacker -->
                            <li>
                                <div class="avatar">
                                    <img src="images/avatar4.jpg" width="220" height="220" alt="Avatar1">
                                    <!-- Speaker media links -->
                                    <div class="social">
                                        <!-- Speacker profile / blog url -->
                                        <a href="" target="_blank">
                                            <i class="fa fa-user"></i>
                                        </a>

                                        <!-- Speacker Twitter URL -->
                                        <a href="https://twitter.com/qorbani" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>

                                        <!-- Speacker Facebook URL -->
                                        <a href="" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="name"><a href="" target="_blank">Reza Qorbani</a></div>
                                <div class="company"><a href="http://www.qorbani.com" target="_blank">Qorbani</a></div>
                            </li>
                        </ul>
                    </div>
                    <!-- View all Speakers Button -->
                    <div class="view-all-speakers">
                        <a href="speakers.html" class="btn-default">VIEW ALL SPEAKERS</a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
