<!-- Speakers -->
<div class="speakers widget-content" id="speakers">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="center-content">
                <h2>{{ "speakers"|trans }}</h2>

                {% include "_partials/speaker_list.html.twig" %}

                {% include "_partials/cfp.html.twig" %}
            </div>
        </div>
    </div>
</div>
