<!-- Partners -->
<div class="partners widget-content" id="sponsors">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="center-content">
                <h2>{{ 'sponsors.title'|trans }}</h2>

                <div class="row">
                    {#
                    Nota: Cambiar las clases del contenedor dependendiendo de la cantidad de sponsors

                    Ejemplo para 1 logo: small-block-grid-1 medium-block-grid-2 large-block-grid-2 large-offset-4 medium-offset-4
                    Ejemplo para 4 logos: small-block-grid-1 medium-block-grid-2 large-block-grid-4

                    Hay que ir probando :)
                    #}
                    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3 large-offset-3 medium-offset-3">
                        <!-- First partner -->
                        <li>
                            <a href="http://www.meetup.com/PHPmvd/" target="_blank">
                                <img src="/images/sponsors/phpmvd-logo.png" width="200"{# height="85"#} alt="PHPmvd">
                            </a>
                        </li>
                        <li>
                            <a href="http://tech.meetup.uy/" target="_blank">
                                <img src="/images/sponsors/techmeetup-logo.png" width="200"{# height="85"#} alt="TechMeetup">
                            </a>
                        </li>
{#
                        <!-- Second partner -->
                        <li>
                            <a href="">
                                <img src="images/logo_2.jpg" width="200" height="85" alt="Logo 2">
                            </a>
                        </li>

                        <!-- Third partner -->
                        <li>
                            <a href="">
                                <img src="images/logo_3.jpg" width="200" height="85" alt="Logo 3">
                            </a>
                        </li>

                        <!-- Forth partner -->
                        <li>
                            <a href="">
                                <img src="images/logo_4.jpg" width="200" height="85" alt="Logo 4">
                            </a>
                        </li>
#}
                    </ul>
                </div>

{#
                <!-- View all Partners Button -->
                <div class="view-all-partners">
                    <a href="/templates/partners" class="btn-default">{{ 'sponsors.view_all'|trans }}</a>
                </div>
#}

                <em>{{ 'sponsors.support_note'|trans({"%email%": "info@phpday.uy"})|raw }}</em>
            </div>
        </div>
    </div>
</div>
