<!-- Testimonials -->
<div class="testimonials widget-content" id="testimonials">
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="center-content">
                <h2>Testimonials</h2>

                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <!-- First Testimonial -->
                    <div class="item">
                        <div class="testimonial_item">
                            <div class="description">
                                <p>Quisque ullamcorper mi vel lectus malesuada lacinia. Integer viverra ipsum risus, nec cursus metus lacinia eu. Cras rhoncus accumsan ipsum, pharetra consectetur neque bibendum id. Praesent eu dui enim.</p>
                            </div>
                            <div class="customers">
                                <img src="images/avatar1.jpg" width="60" height="60" class="avatar" alt="avatar">

                                <div class="customers_info">
                                    <div class="name">Christophe Tauziet</div>
                                    <div class="location">London</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Second Testimonial -->
                    <div class="item">
                        <div class="testimonial_item">
                            <div class="description">
                                <p>Quisque ullamcorper mi vel lectus malesuada lacinia. Integer viverra ipsum risus, nec cursus metus lacinia eu. Cras rhoncus accumsan ipsum, pharetra consectetur neque bibendum id. Praesent eu dui enim.</p>
                            </div>
                            <div class="customers">
                                <img src="images/avatar2.jpg" width="60" height="60" class="avatar" alt="avatar">

                                <div class="customers_info">
                                    <div class="name">Victor Tihai</div>
                                    <div class="location">Montréal</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Third Testimonial -->
                    <div class="item">
                        <div class="testimonial_item">
                            <div class="description">
                                <p>Quisque ullamcorper mi vel lectus malesuada lacinia. Integer viverra ipsum risus, nec cursus metus lacinia eu. Cras rhoncus accumsan ipsum, pharetra consectetur neque bibendum id. Praesent eu dui enim.</p>
                            </div>
                            <div class="customers">
                                <img src="images/avatar3.jpg" width="60" height="60" class="avatar" alt="avatar">

                                <div class="customers_info">
                                    <div class="name">Anthony Garand</div>
                                    <div class="location">Washington</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Forth Testimonial -->
                    <div class="item">
                        <div class="testimonial_item">
                            <div class="description">
                                <p>Quisque ullamcorper mi vel lectus malesuada lacinia. Integer viverra ipsum risus, nec cursus metus lacinia eu. Cras rhoncus accumsan ipsum, pharetra consectetur neque bibendum id. Praesent eu dui enim.</p>
                            </div>
                            <div class="customers">
                                <img src="images/avatar4.jpg" width="60" height="60" class="avatar" alt="avatar">

                                <div class="customers_info">
                                    <div class="name">Reza Qorbani</div>
                                    <div class="location">Paris</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Fifth Testimonial -->
                    <div class="item">
                        <div class="testimonial_item">
                            <div class="description">
                                <p>Quisque ullamcorper mi vel lectus malesuada lacinia. Integer viverra ipsum risus, nec cursus metus lacinia eu. Cras rhoncus accumsan ipsum, pharetra consectetur neque bibendum id. Praesent eu dui enim.</p>
                            </div>
                            <div class="customers">
                                <img src="images/avatar1.jpg" class="avatar" alt="avatar">

                                <div class="customers_info">
                                    <div class="name">Aaron James</div>
                                    <div class="location">Hampshire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="customNavigation">
                    <a class="btn prev"><i class="fa fa-angle-left"></i></a>
                    <a class="btn next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

