<!-- Buy tickets -->
<div class="buytickets  widget-content" id="pricing">
    <div class="buytickets_bg" data-stellar-background-ratio="0.2" style="background-image: url('images/bg_buytikets.png');"></div>
    <div class="row">
        <div class="columns small-12 medium-12 large-12">
            <div class="center-content">
                <h2>Buy Tickets</h2>

                <div class="">
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                        <li>
                            <!-- Early bird box -->
                            <div class="buytickets_item">
                                <div class="title">
                                    Early Bird
                                </div>
                                <div class="price">$199.95</div>
                                <div class="description">
                                    Efficitur ex lacinia arcu venenatis commodo. Maecenas posuere, libero vitae venenatis rutrum, est massa ornare nisi, eu placerat.
                                </div>
                                <div class="btn_buy_ticket">
                                    <a class="btn-default" data-reveal-id="BuyTicket">buy ticket</a>
                                </div>
                                <div class="promo">
                                    <div class="save">save 25%</div>
                                </div>
                            </div>
                        </li>

                        <!-- Standard box -->
                        <li>
                            <div class="buytickets_item">
                                <div class="title">
                                    Standard Ticket
                                </div>
                                <div class="price">$299.95</div>
                                <div class="description">
                                    Lipsum ex lacinia arcu venenatis commodo. Maecenas posuere, libero vitae venenatis rutrum, est massa ornare nisi, eu placerat.
                                </div>
                                <div class="btn_buy_ticket">
                                    <a class="btn-default" data-reveal-id="BuyTicket">buy ticket</a>
                                </div>
                                <div class="promo">
                                    <div class="new">new</div>
                                </div>
                            </div>
                        </li>

                        <!-- VIP box -->
                        <li>
                            <div class="buytickets_item">
                                <div class="title">
                                    VIP
                                </div>
                                <div class="price">$599.95</div>
                                <div class="description">
                                    Ex lacinia arcu venenatis commodo. Maecenas posuere, libero vitae venenatis rutrum, est massa ornare nisi, eu placerat.
                                </div>
                                <div class="btn_buy_ticket">
                                    <a href="#" class="btn-default" data-reveal-id="BuyTicket">buy ticket</a>
                                </div>
                                <div class="promo">
                                    <div class="hot">hot</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
