<?php

return [
    'database' => [
        'name' => '{{ database_name }}',
        'user' => '{{ database_user }}',
        'password' => '{{ database_password }}',
    ],
    'slack' => [
        'hook_url' => '{{ slack_hook_url }}',
        'outgoing_tokens' => [
            'cfp' => 'anything'
        ]
    ],
];
